
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>
<body>
    <h2>403</h2>
    <h1>Halt!</h1>
    <div>You are not supposed to do that.</div>
</body>
</html>
