
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal error</title>
</head>
<body style="text-align: center;">
    <h1>500</h1>
    <img width="500" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/warning_cyit.svg" />
    <h1>Oops!</h1>
    <div>Something bad happened. We are sorry for your inconvenience. </div>
</body>
</html>
