
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal error</title>
</head>
<body>
    <h2>500</h2>
    <h1>Oops!</h1>
    <div>Something bad happened. We are sorry for your inconvenience. </div>
</body>
</html>
