
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not found</title>
</head>
<body>
    <h2>404</h2>
    <h1>Oh no!</h1>
    <div>Looks like the page is missing.</div>
</body>
</html>
