@{
    Layout = "_FAQLayout";
}
<h1 style="text-align:center;">FAQ</h1>
<div class="login-page">
    
    <div class="form">
        <h1><b>How to add advertisement?</b></h1>
        To add advertisement you have firstly sign in to place it. After that you will be able to add advertisement. If you are not our user, then you will have firstly sign up and only then sign in.
        <br />
        <img width="100%" src="~/css/img1.PNG" />
    </div>
</div>