@{
    Layout = "_NoNavLayout";
}
<style>
    img {
        border: 1px solid #555;
    }
</style>
<h1 style="text-align:center;">FAQ</h1>

<link rel="stylesheet" href="~/css/style.css" />

<div class="login-page">

    <div class="form">
        <h1><b>How to add advertisement?</b></h1>
        To add advertisement you have firstly sign in to place it. After that you will be able to add advertisement. If you are not our user, then you will have firstly sign up and only then sign in.
        <br />
        <img width="80%" src="~/css/img1.PNG" />
    </div>
    <div class="form">
        <h1><b>Why I cant see feedbacks?</b></h1>
        Only the owner of advertisement can see feedbacks. Feedbacks are used for owner to understand what is wrong with their product and how to improve it.
        <br />
        <img width="80%" src="~/css/img2.PNG" />
        <br />
        If you want to check your business feedbacks then you have to: <br />
        1. Point at your name in navigation bar. <br />
        <img width="80%" src="~/css/img3.PNG" />
        <br />
        2. Click 'Your businesses'. <br />
        <img width="80%" src="~/css/img4.PNG" />
        <br />
        3. Business Feedbacks. <br />
        <img width="80%" src="~/css/img5.PNG" />
        <br />
    </div>
    <div class="form">
        <h1><b>How to edit my advertises?</b></h1>
        <br />
        1. Point at your name in navigation bar.
        <br />
        <img width="80%" src="~/css/img3.PNG" />
        <br />
        2. Click 'Your businesses'.
        <br />
        <img width="80%" src="~/css/img4.PNG" />
        <br />
        3. Choose your advertisement and edit it.
        <br />
        <img width="80%" src="~/css/img6.PNG" />
    </div>
    <div class="form">
        <h1><b>How to change my profile information?</b></h1>
        <br />
        1. Point at your name in navigation bar.
        <br />
        <img width="80%" src="~/css/img3.PNG" />
        <br />
        2. Click 'User settings'.
        <br />
        <img width="80%" src="~/css/img7.PNG" />
        <br />
        3. Edit what you need.
        <br />
        <img width="80%" src="~/css/img8.PNG" />
    </div>
    <div class="form">
        <h1><b>If you have other problems or issues, contact with our bot in main page on lower right corner and we will help you solve it.</b></h1>
        <br />

        <img width="80%" src="~/css/chat.PNG" />
    </div>
</div>