@model BusinessRegisterModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "_NoNavLayout";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet"></script>

<!-- Esri Leaflet Geocoder -->
<link rel="stylesheet"
      href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css" />
<script src="https://unpkg.com/esri-leaflet-geocoder"></script>

<style type="text/css">
    #mapid {
        height: 500px;
        width: 50%;
    }
</style>

<div class="auth-container">
    <div class="container box">
        <h1>Add business advertisement</h1>
        <form id="addAdvertisement" asp-action="AddAdvertisement" method="post">
            <div class="form-group">
                <label asp-for="Product">Product</label>
                <input asp-for="Product" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Header">BusinessInfo</label>
                <input asp-for="Header" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control">
            </div>

            @for (int i = 0; i < 7; i++)
            {
                ViewBag.DayInd = i;
                <partial name="TimePicker" for="Workdays[i]" />
            }

            <input type="hidden" id="longitude" asp-for="Longitude" />
            <input type="hidden" id="latitude" asp-for="Latitude" />

            <div id="mapid"></div>

            <div onclick="showPictureInput()" id="add-picture" class="btn btn-primary">Add picture</div>
            <div style="visibility:hidden" id="picture1" class="form-group">
                <label asp-for="Pictures[0]">First picture</label>
                <input asp-for="Pictures[0]" class="form-control" placeholder="Enter url address to youe picture">
            </div>
            <div style="visibility:hidden" id="picture2" class="form-group">
                <label asp-for="Pictures[1]">Second picture</label>
                <input asp-for="Pictures[1]" class="form-control" placeholder="Enter url address to youe picture">
            </div>
            <div style="visibility:hidden" id="picture3" class="form-group">
                <label asp-for="Pictures[2]">Third picture</label>
                <input asp-for="Pictures[2]" class="form-control" placeholder="Enter url address to youe picture">
            </div>

            <button type="submit" class="btn btn-primary">Advertise business</button>

        </form>
    </div>
</div>

<script>
    let addPictureClickCount = 0;
    function showPictureInput() {
        if (addPictureClickCount <= 3) {
            addPictureClickCount++;
            const pictures = document.getElementById('picture' + addPictureClickCount);
            pictures.style.visibility = null;
        }
        if (addPictureClickCount === 3) {
            const pictures = document.getElementById('add-picture');
            pictures.style.visibility = 'hidden';
        }
    }

    const mymap = L.map('mapid').setView([54.687, 25.279], 14);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '@Configuration["Maps:AccessToken"]'
    }).addTo(mymap);


    let searchControl = L.esri.Geocoding.geosearch({ useMapBounds: false }).addTo(mymap);


    let layerGroup = L.layerGroup().addTo(mymap);

    searchControl.on("results", function (data) {
        layerGroup.clearLayers();
        for (var i = data.results.length - 1; i >= 0; i--) {
            setCoordinates(data.results[i].latlng)
        }
    });

    function onMapClick(e) {
        setCoordinates(e.latlng)
    }

    function setCoordinates(latlng) {
        layerGroup.clearLayers();
        L.marker(latlng).addTo(layerGroup);
        const { lat, lng } = latlng
        document.getElementById("longitude").value = lng;
        document.getElementById("latitude").value = lat;
    }

    mymap.on('click', onMapClick);
</script>
