@model BusinessRegisterModel

@{
    Layout = "_NoNavLayout";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet"></script>

<!-- Esri Leaflet Geocoder -->
<link rel="stylesheet"
      href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css" />
<script src="https://unpkg.com/esri-leaflet-geocoder"></script>

<style type="text/css">
    #mapid {
        height: 500px;
        width: 50%;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.createElement('input');
        input.type = 'button';
        input.id = 'productButton';
        input.value = 'Add product';
        input.className = 'btn btn-primary';

        var clickCount = 0;
        var container = document.getElementById('products');
        container.appendChild(input);

        input.onclick = function () {
            var pr = "@nameof(BusinessRegisterModel.Products)";
            var product = document.createElement('div');

            product.innerHTML = '<label for="' + pr + '_' + clickCount + '_@nameof(Product.Name)">Product</label>' +
                '<input type="text" id="' + pr + '_' + clickCount + '_@nameof(Product.Name)" name="' + pr + '[' + clickCount + '].@nameof(Product.Name)" value="" />' +

                '<label for="' + pr + '_' + clickCount + '_@nameof(Product.PricePerUnit)">Unit price</label>' +
                '<input type="text" id="' + pr + '_' + clickCount + '_@nameof(Product.PricePerUnit)" name="' + pr + '[' + clickCount + '].@nameof(Product.PricePerUnit)" value="" />' +

                '<label for="' + pr + '_' + clickCount + '_@nameof(Product.Unit)">Unit</label>' +
                '<input type="text" id="' + pr + '_' + clickCount + '_@nameof(Product.Unit)" name="' + pr + '[' + clickCount + '].@nameof(Product.Unit)" value="" />' +

                '<label for="' + pr + '_' + clickCount + '_@nameof(Product.Comment)">Comment</label>' +
                '<input type="text" id="' + pr + '_' + clickCount + '_@nameof(Product.Comment)" name="' + pr + '[' + clickCount + '].@nameof(Product.Comment)" value="" />';
            container.appendChild(product);
            clickCount++;
        };
    }, false);
</script>


<div class="auth-container">
    <div class="container box">
        <h1>Add business advertisement</h1>
        <form id="addAdvertisement" asp-action="AddAdvertisement" method="post">
            <div class="form-group">
                <label asp-for="Header">Header</label>
                <input asp-for="Header" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control">
            </div>

            <div id="products"></div>

            @for (int i = 0; i < 7; i++) {
                ViewBag.DayInd = i;
                <partial name="TimePicker" for="Workdays[i]" />
            }

            <input type="hidden" id="longitude" asp-for="Longitude" />
            <input type="hidden" id="latitude" asp-for="Latitude" />

            <div id="mapid"></div>

            <div class="form-group">
            <label asp-for="Picture">Please enter your picture url</label>
            <input asp-for="Picture" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary">Advertise business</button>

        </form>
    </div>
</div>

<script>
    const mymap = L.map('mapid').setView([54.687, 25.279], 14);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibW1hcmdlIiwiYSI6ImNrZ3NmOTVrOTAwdmIzMHBlbm54MW8xYXAifQ.4Y4ElvNj24N3eMn28RhKNA'
    }).addTo(mymap);


    let searchControl = L.esri.Geocoding.geosearch({ useMapBounds: false }).addTo(mymap);


    let layerGroup = L.layerGroup().addTo(mymap);

    searchControl.on("results", function (data) {
        layerGroup.clearLayers();
        for (var i = data.results.length - 1; i >= 0; i--) {
            setCoordinates(data.results[i].latlng)
        }
    });

    function onMapClick(e) {
        setCoordinates(e.latlng)
    }

    function setCoordinates(latlng) {
        layerGroup.clearLayers();
        L.marker(latlng).addTo(layerGroup);
        const { lat, lng } = latlng
        document.getElementById("longitude").value = lng;
        document.getElementById("latitude").value = lat;
    }

    mymap.on('click', onMapClick);
</script>
