@model BusinessListViewModel

<form asp-action="Index" asp-controller="Home">
    <h4 class="text-center">Search for a business</h4>
    <div class="form-group">
        <label asp-for="SearchResponse.OwnersSurname">By owner's surname</label>
        <input asp-for="SearchResponse.OwnersSurname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.BusinessInfo">By business's info</label>
        <input asp-for="SearchResponse.BusinessInfo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.SearchIn">Select a search mode</label>
        <select asp-for="SearchResponse.SearchIn">
            <option value="0">Search only in header</option>
            <option value="1">Search only in description</option>
            <option value="2">Search in description and header</option>
        </select>
    </div>
    <div class="form-group">
        @for (var i = 0; i < 7; i++) {
            <label><input asp-for="SearchResponse.WeekdaySelected[i]" />@DayNames.days[i]</label>
        }
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.OpenFrom">Open From</label>
        <input type="text" asp-for="SearchResponse.OpenFrom" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.OpenTo">Open To</label>
        <input type="text" asp-for="SearchResponse.OpenTo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/lib/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />

<script>
    var stepTime = 10;
    var fromID = "#" + openFrom;
    var toID = "#" + openTo;
    $(fromID).datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        step: stepTime,
        onShow: function () {
            this.setOptions({
                maxTime: $(toID).val() ? $(toID).val() : false
            });
        }
    });
    $(toID).datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        step: stepTime,
        onShow: function () {
            this.setOptions({
                minTime: $(fromID).val() ? $(fromID).val() : false
            });
        }
    });
</script>
