@page "/business/feedbacks/{id:long}"

<h3 class="bg-info text-white text-center p-1">Business's titled: "@Business.Header" feedbacks</h3>

<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>Sender's name</th>
    <th>Message</th>
    </tr>
        @foreach (var feedback in Business?.Feedbacks)
        {
            <tr>
                <td>@feedback.SenderName</td>
                <td>@feedback.Text</td>
            </tr>
        }
</table>

<NavLink ActiveClass="btn btn-primary" href="/user/businesses">Back to businesses' overview</NavLink>

@code {

    [Inject]
    public IServiceRepository Repository { get; set; }

    [Parameter]
    public long Id { get; set; }
    public Business Business { get; set; }

    protected override void OnParametersSet()
    {
        Business = Repository.Business.Include(b => b.Feedbacks).FirstOrDefault(b => b.BusinessID == Id);
    }

}