@page "/user"
@using Microsoft.AspNetCore.Authorization
@{
    Layout = null;
}

@attribute [Authorize]

<!DOCTYPE html>
<html>
<head>
    <title>Your account</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div class="login-page">
        <div class="form" style="max-width:1080px;">
            <component type="typeof(Routed)" render-mode="Server" />
            <script src="/_framework/blazor.server.js"></script>
            <a style="text-align:left;" href="/">Go back</a>
        </div>
        </div>
</body>
</html>