@model Support_Your_Locals.Models.ViewModels.UserRegisterModel

@{
    Layout = "_NoNavLayout";
}
<div class="login-page">
    @if (Model?.AlreadyExists == true)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> User already exists.
        </div>
    }
    <div class="form">
        <div class="auth-container">
            <div class="container box">
                <h1>Sign Up</h1>
                <form asp-action="SignUp" method="post">
                    <div class="form-group">
                        <label asp-for="Email">Email <span style="color:darkred">*</span></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name <span style="color:darkred">*</span></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname">Surname <span style="color:darkred">*</span></label>
                        <input asp-for="Surname" class="form-control">
                        <span asp-validation-for="Surname"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate">BirthDate <span style="color:darkred">*</span></label>
                        @Html.TextBox("BirthDate", Model, new { type = "date" })
                        <span asp-validation-for="BirthDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password <span style="color:darkred">*</span></label>
                        <input type="password" asp-for="Password" class="form-control">
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        <a asp-action="SignIn">Already a member? Sign in</a>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Up</button>

                </form>
            </div>


            <!--
            <form class="login-form">
                <h2>Sign up</h2>
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>-->
        </div>
    </div>
</div>


    

