@model Tuple<string, IEnumerable<string>>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Categories
</button>
<div class="dropdown-menu">
    <a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-product=""><b>Home</b></a>
    @foreach (string product in Model.Item2)
    {
        <a class="btn btn-block @(product == Model.Item1 ? "btn-primary" : "btn-outline-secondary")"
           asp-action="Index" asp-controller="Home" asp-route-product="@product" asp-route-page="1">@product</a>
    }
</div>

