@model AnswerQuestionViewModel

@{
    Layout = "_AdminPageLayout";
}

<div>
    <h1>Add business advertisement</h1>
    <form id="addAdvertisement" asp-action="AnswerQuestion" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="QuestionId" value="@Model.QuestionId"/>
            <input type="hidden" asp-for="Email" value="@Model.Email"/>
            <label asp-for="AnwserText">Answer</label>
            <input asp-for="AnwserText" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Answer</button>
    </form>
</div>