<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support Your Locals</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/validation.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Support Your Locals</span>
        @if (!User.Identity.IsAuthenticated)
        {<a asp-controller="Auth" asp-action="SignIn" class="navbar-brand ml-2">Sign In</a>
            <a asp-controller="Auth" asp-action="SignUp" class="navbar-brand ml-2">Sign Up</a>}
        else
        {<a asp-controller="Auth" asp-action="SignIn" class="navbar-brand ml-2">Sign Out</a>
         <span style="float:right;text-align:right;margin-left: 80px;">Welcome @User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value!</span>
        }
        <a asp-controller="Business" asp-action="AddAdvertisement" class="navbar-brand ml-2">Add advertisement</a>
    </div>

<div>
    @RenderBody()
</div>
</body>
</html>
