<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support Your Locals</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/validation.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<body>
    <div class="bg-dark text-white p-2 nav">
        <a class="nicetitle navbar-brand ml-2" style="color: #bbe1fa;" href="../">Local Support</a>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="SignIn" class="navbar-brand ml-2">Sign In</a>
            <a asp-controller="Auth" asp-action="SignUp" class="navbar-brand ml-2">Sign Up</a>
        }
        else
        {

            <div class="dropdown">
                <a class="navbar-brand ml-2">Welcome @User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value! <i class='fas fa-angle-down'></i></a>
                <div class="dropdown-content" style="float: left; text-align: center;">
                    <a href="../user/businesses">Your businesses</a>
                    <a href="../user/usersettings">User settings</a>
                    <form method="get" style="display: inline;">
                        <button asp-controller="Auth" asp-action="SignOut" class="btn btn-info">Sign Out</button>
                    </form>
                </div>
            </div>

        }
        @if (User.IsInRole("Administrator"))
        {
            <a asp-controller="Admin" asp-action="Index" class="navbar-brand ml-2 navbuttons">Admin panel</a>
        }
        <a asp-controller="Business" asp-action="AddAdvertisement" class="navbar-brand ml-2 navbuttons">Add advertisement</a>
        <a asp-controller="FAQ" asp-action="Index" class="navbar-brand ml-2 navbuttons">FAQ</a>

    </div>

<div>
    @RenderBody()
</div>
</body>
</html>
