@model Product

<div>
    <label asp-for="Name">Product</label>
    <input type="text" asp-for="Name" />
    <label asp-for="PricePerUnit">Unit price</label>
    <input type="text" asp-for="PricePerUnit" /> <!--TODO: Number with proper localization.-->
    <label asp-for="Unit">Unit</label>
    <input type="text" asp-for="Unit" />
    <label asp-for="Comment">Comment (example: not much left) (not required)</label>
    <input type="text" asp-for="Comment" />
</div>
