@model UserBusinessTimeSheets

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Business.Header
            <span class="badge badge-pill badge-primary" style="float: right">
                <small>
                    @Model.Business.Product
                </small>
            </span>
        </h4>
    </div>
    <form asp-action="Index" asp-controller="Business" method="post">
        <input type="hidden" asp-for="Business.BusinessID" value =@Model.Business.BusinessID/>
        <input type="hidden" asp-for="Business.UserID" value =@Model.Business.UserID/>
        <input type="hidden" asp-for="Business.Product" value =@Model.Business.Product/>
        <input type="hidden" asp-for="Business.Description" value =@Model.Business.Description/>
        <input type="hidden" asp-for="Business.PhoneNumber" value =@Model.Business.PhoneNumber/>
        <input type="hidden" asp-for="Business.Header" value =@Model.Business.Header/>
        <input type="hidden" asp-for="User.UserID" value =@Model.User.UserID/>
        <input type="hidden" asp-for="User.Name" value =@Model.User.Name/>
        <input type="hidden" asp-for="User.Surname" value =@Model.User.Surname/>
        <input type="hidden" asp-for="User.BirthDate" value =@Model.User.BirthDate/>
        <input type="hidden" asp-for="User.Email" value =@Model.User.Email/>
        <!--Inneficient-->
        <span class="card-text p-1">
            @Model.User.Name
            @Model.User.Surname
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float: right">
                Go to
            </button>
        </span>
    </form>
</div>
