@model Feedback

<div>
    <label asp-for="SenderName">Sender's name</label>
    <label asp-for="SenderName">@Model.SenderName</label>
    <label asp-for="Text">Feedback</label>
    <label asp-for="Text">@Model.Text</label>
</div>
