@model Tuple<int, BusinessRegisterModel>

@{
    int dayIndex = Model.Item1;
    int day7Index = Model.Item1 + 7;
    string pickerFrom = "picker" + dayIndex;
    string pickerTo = "picker" + day7Index;
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />

<div class="container mt-5 mb-5" style="width: 400px">
    <label asp-for="Item2.TimeSheets[dayIndex].Weekday">@TimeSheet.days[dayIndex]</label>
    <label asp-for="Item2.TimeSheets[dayIndex].From">From</label>
    <input asp-for="Item2.TimeSheets[dayIndex].From" id="@pickerFrom" class="form-control"/>
    <label asp-for="Item2.TimeSheets[dayIndex].To">To</label>
    <input asp-for="Item2.TimeSheets[dayIndex].To" id="@pickerTo" class="form-control"/>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/lib/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#picker' + @dayIndex).datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        step: 10,
        onShow: function () {
            this.setOptions({
                maxTime: $('#picker' + @day7Index).val() ? $('#picker' + @day7Index).val() : false
            })
        }
    })
    $('#picker' + @day7Index).datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        step: 10,
        onShow: function () {
            this.setOptions({
                minTime: $('#picker' + @dayIndex).val() ? $('#picker' + @dayIndex).val() : false
            })
        }
    })
</script>
