<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/154ecbaf-2500-4e75-8135-db45e05893a4/resourceGroups/SupportYourLocals/providers/Microsoft.Web/sites/SupportYourLocals20201220224514</ResourceId>
    <ResourceGroup>SupportYourLocals</ResourceGroup>
    <ApiResourceId>/subscriptions/154ecbaf-2500-4e75-8135-db45e05893a4/resourceGroups/SupportYourLocals/providers/Microsoft.ApiManagement/service/SupportYourLocalsapi/apis/SupportYourLocals</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://supportyourlocals20201220224514.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>00f11bae-5269-4430-81fa-49565c33473e</ProjectGuid>
    <MSDeployServiceURL>supportyourlocals20201220224514.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SupportYourLocals20201220224514</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SupportYourLocals20201220224514</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>